/* set basic style for the index.html page */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#info-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info-tab a {
    margin-left: 3%;
}

#info-tab p {
    margin-right: 3%;
}

#start-page-content {
    width: 75%;
    text-align: center;
    margin: auto;
}

#question-container,
#response-container,
#end-game-container,
#high-scores-container {
    width: 75%;
    text-align: left;
    margin: auto;
}

/* style the buttons */

button {
    display: block;
    margin: 10px;
    color: white;
    background-color: darkslateblue;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
}

button:hover {
    background-color: blueviolet;
}